@import '../../marketplace.css';

:root {
  /*
    These variables are available in global scope through ":root"
    element (<html> tag). Variables with the same names are going to
    overwrite each other if CSS Properties' (PostCSS plugin)
    configuration "preserve: true" is used - meaning that variables
    are left to CSS bundle. We are planning to enable it in the future
    since browsers support CSS Properties already.
 */

  --PartnersPage_sectionMarginTop: 40px;
  --PartnersPage_sectionMarginTopMedium: 60px;
  --PartnersPage_sectionMarginTopLarge: 94px;
}

.root {
}


.PlaceAnAd {
  margin-top: 0px;
  padding: 18px 20px 20px;
  background: #e6f3f5;
  text-align: center;
  @media (--viewportMedium) {
    margin-top: 0px;
  }
  @media (--viewportLarge) {
  }
}

.PlaceAnAdLink {
  display: block;
  @media (--viewportMedium) {
    display: inline;
  }
}
